{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>
  <body>
    <div class="login-container">
      <div class="content">
        <h1>Login</h1>
        <form action="{% url 'chat:login' %}" method="post">
          {% csrf_token %}
          <input
            type="text"
            placeholder="Username"
            name="username"
            required
          /><br /><br />
          <input type="text" id="publicKey" hidden>
          <center>
            <button type="submit">Submit</button>
          </center>
        </form>
      </div>
    </div>
    <script>
      document.addEventListener('DOMContentLoaded', async function () {
        const keyPair = await generateRSAKeys()
        if(!keyPair) return
        const publicKey = await exportKey(keyPair.publicKey, 'spki')
        const privateKey = await exportKey(keyPair.privateKey, 'pkcs8')
        sessionStorage.setItem('publicKey', publicKey)
        sessionStorage.setItem('privateKey', privateKey)
        let keyField = document.getElementById('publicKey')
        keyField && (keyField.setAttribute('value', publicKey))
      })
    </script>
    <script src="{% static 'js/crypto.js' %}"></script>
  </body>
</html>
