{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
  <title>Login</title>
</head>

<body>
  <div class="container">
    <div class="login form">
      <header>Login</header>
      <form action="{% url 'users:login' %}" method="post">
        {% csrf_token %}
        <input type="text" required name="username" placeholder="Enter your username">
        <input type="password" required name="password" placeholder="Enter your password">
        <div>
          {% include "message.html" %}
        </div>
        <button type="submit" class="button">Login</button>
      </form>
      <div class="signup">
        <span class="signup">Don't have an account?
          <a href="{% url 'users:register' %}" for="signup">Signup</a>
        </span>
      </div>
    </div>
  </div>
</body>
<script>
  document.addEventListener('DOMContentLoaded', async function () {
    const keyPair = await generateRSAKeys()
    if(!keyPair) return
    const publicKey = await exportRSAKey(keyPair.publicKey, 'spki')
    const privateKey = await exportRSAKey(keyPair.privateKey, 'pkcs8')
    const privateKeyDH = generateRandomNumber()
    sessionStorage.clear()
    sessionStorage.setItem('publicKey', publicKey)
    sessionStorage.setItem('privateKey', privateKey)
    sessionStorage.setItem('privateKeyDH', privateKeyDH)
  })
</script>
<script src="{% static 'js/crypto.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
</html>