{% extends "base.html" %}

{% block content %}

<div class="room-container">
  <div class="content">
    <h3 class="center">Secure chat with <span class="partner">{{partner | upper}}</span></h3>
    <div class="chats-container" id="chats-container"></div>
    <div class="error center" id="message-log"></div>
    <form action="" id="msg-form" method="post">
      {% csrf_token %}
      <textarea name="message" id="message" cols="30" rows="10" placeholder="Enter your message"></textarea>

      <button type="submit">&#10003;</button>
    </form>
  </div>
</div>

<script>


  sessionStorage.setItem('partner', '{{partner}}')
  sessionStorage.setItem('roomname', '{{room_name}}')

  const socketURL = `ws://${window.location.host}/ws/messages/{{room_name}}/`;
  console.log("Establishing Socket Connection... ")
  const socket = new WebSocket(socketURL)
  socket.onerror = function (err) {
    console.log('socket-connection-error:', err)
    // socket.close()
  }
  socket.onopen = function (e) {
    console.log("Successfully connected to the WebSocket.");
    const publicKey = sessionStorage.getItem('publicKey')
    socket.send(
      JSON.stringify({
        message: publicKey,
        room_name: "{{room_name}}",
        sender: "{{username}}",
        type: 'publickey'
      })
    );
  }

  // Send Message to the backend
  const message_form = document.getElementById("msg-form")
  message_form.addEventListener("submit", async function (event) {
    event.preventDefault();
    const message_sent = document.getElementById("message").value;
    const dhSharedKey = sessionStorage.getItem('dhSharedKey')
    const privateKey = sessionStorage.getItem('privateKey')
    const hashedMessage = await digitalSignMessage(message_sent, privateKey)
    let encryptedMsg = await encryptAES(message_sent, dhSharedKey, crypto_iv)
    console.log("Sending message... ", encryptedMsg);
    socket.send(
      JSON.stringify({
        message: encryptedMsg,
        room_name: "{{room_name}}",
        sender: "{{username}}",
        type: "message",
        hash: hashedMessage
      })
    );
  });

  const chats_div = document.getElementById("chats-container")

  // Scroll to bottom
  const scrollToBottom = () => {
    chats_div.scrollTop = chats_div.scrollHeight;
  }

  
  // Recieve Message from the backend
  socket.addEventListener("message", async (e) => {
    const data = JSON.parse(e.data)["message"]

    console.log('message-from-server', data);

    let sender = data["sender"]
    // let content = data["message"]
    // let type = data["type"]

    await handshake(socket, data)
    await dhKeyExchange(socket, data)
    

    if (sender == "{{username}}") {
      document.getElementById("message").value = ""
    }

    await showMessage(socket, data)

    scrollToBottom();

  });

  
  // display chat on reload
  document.addEventListener('DOMContentLoaded', async function () {
    let data
    "{%for message in messages%}"
      data = {
        type: "{{message.type}}",
        message: "{{message.message}}",
        sender: "{{message.sender}}",
        hash: "{{message.hash}}",
        username: "{{username}}",
      }
      await showMessage(socket, data)
    "{%endfor%}"
    scrollToBottom();
  });




</script>

{% endblock %}