{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="room-container">
  <div class="content">
    <h3 class="center">Secure chat with <span class="partner">{{partner | upper}}</span></h3>
    <div class="chats-container" id="chats-container"></div>
    <div class="error center" id="message-log"></div>
    <form action="" id="msg-form" method="post">
      {% csrf_token %}
      <input name="message" id="message" placeholder="Enter your message">
      <!-- <textarea name="message" id="message" cols="30" rows="10" placeholder="Enter your message"></textarea> -->

      <button type="submit">&#10003;</button>
    </form>
  </div>
</div>

<script>
  sessionStorage.setItem('partner', '{{partner}}')
  sessionStorage.setItem('roomname', '{{room_name}}')
</script>

<script src="{% static 'js/socketIO.js' %}"></script>

<script>
  // display chat on reload
  document.addEventListener('DOMContentLoaded', async function () {
    setTimeout(async () => {
      let data
      const socketIO = socket
      "{%for message in messages%}"
      data = {
        type: "{{ message.type }}",
        message: "{{ message.message }}",
        sender: "{{ message.sender }}",
        hash: "{{ message.hash }}",
        username: "{{ username }}",
      }
      if(socketIO.readyState !== 3){
        await showMessage(socketIO, data)
      }
      "{% endfor %}"
      scrollToBottom();
    }, 1000);
  });
</script>


{% endblock %}